    body {
        background-color: #FDF6EC;
    }
    hr {
        background-color: #FDF6EC;
        border-style: dotted none none;
        border-width: 5px;
        border-color: grey;
        height: 0px;
        width: 5%;
    }
    h1 {
        color: #66BFBF;
    }
    h3 {
        color: #66BFBF;
    }

    .circular {
        border-radius: 100%;
    }